<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>LivePhotos</key>
		<array>
			<string>BlueFL2</string>
			<string>BrownF</string>
			<string>DarkGreen</string>
			<string>G_Circles</string>
			<string>Glow</string>
			<string>GreenGrowthe</string>
			<string>OrangeFl2</string>
			<string>OrangeZoom</string>
			<string>PinkSwirl</string>
			<string>PinkFL1</string>
			<string>R_Circles</string>
			<string>Y_Circles</string>
		</array>
		<key>Name</key>
		<string>Abstract</string>
		<key>Count</key>
		<string>12</string>
		<key>Thumb</key>
		<string>BlueFL2.JPG</string>
	</dict>
	<dict>
		<key>LivePhotos</key>
		<array>
			<string>CatScratch</string>
			<string>ChamaStare</string>
			<string>CheetahWalk</string>
			<string>DuckLeave</string>
			<string>HippoYawn</string>
			<string>LionStare</string>
			<string>OwlStare</string>
			<string>RelaxTurtle</string>
			<string>SnakeHiss</string>
		</array>
		<key>Name</key>
		<string>Animals</string>
		<key>Count</key>
		<string>9</string>
		<key>Thumb</key>
		<string>CatScratch.JPG</string>
	</dict>
	<dict>
		<key>LivePhotos</key>
		<array>
			<string>BeatBok</string>
			<string>BlueStride</string>
			<string>BokPurpPink</string>
			<string>BokString</string>
			<string>ColorFlick</string>
			<string>ColorfulBok</string>
			<string>G_Swirl</string>
			<string>OldBrownBok</string>
			<string>PinkFlow</string>
			<string>WhiteStarBurst</string>
		</array>
		<key>Name</key>
		<string>Bokeh</string>
		<key>Count</key>
		<string>10</string>
		<key>Thumb</key>
		<string>BeatBok.JPG</string>
	</dict>
	<dict>
		<key>LivePhotos</key>
		<array>
			<string>BluePop</string>
			<string>ColorMix</string>
			<string>Manne</string>
			<string>PianoSpin</string>
			<string>PinkStar</string>
			<string>PinkStream</string>
			<string>SeizeHP</string>
			<string>WhiteNotes</string>
		</array>
		<key>Name</key>
		<string>Music</string>
		<key>Count</key>
		<string>8</string>
		<key>Thumb</key>
		<string>BluePop.JPG</string>
	</dict>
	<dict>
		<key>LivePhotos</key>
		<array>
			<string>BlueBPart</string>
			<string>BlueGreen</string>
			<string>GreenRedEx</string>
			<string>GreenSpiral</string>
			<string>LightFall</string>
			<string>LightShow</string>
			<string>OrangePurple</string>
			<string>PurplePart</string>
		</array>
		<key>Name</key>
		<string>Particle</string>
		<key>Count</key>
		<string>8</string>
		<key>Thumb</key>
		<string>BlueBPart.JPG</string>
	</dict>
	<dict>
		<key>LivePhotos</key>
		<array>
			<string>3Cross</string>
			<string>BlueGlory</string>
			<string>GlowWindow</string>
			<string>OldBrownCross</string>
			<string>PurpleBokCross</string>
			<string>SpinCross</string>
			<string>SpinPurpleCross</string>
			<string>StarBurstCross</string>
			<string>WSpinCross</string>
			<string>b</string>
		</array>
		<key>Name</key>
		<string>Religion</string>
		<key>Count</key>
		<string>10</string>
		<key>Thumb</key>
		<string>3Cross.JPG</string>
	</dict>
	<dict>
		<key>LivePhotos</key>
		<array>
			<string>BigSpinRight</string>
			<string>BlueSpace</string>
			<string>PinkRight</string>
			<string>PurpleGalaxy</string>
			<string>RedGalaxy</string>
			<string>RedSpace</string>
			<string>SpinLeftWorld</string>
			<string>SpinRightWorld</string>
			<string>SpinUpWorld</string>
			<string>ZoomOut</string>
		</array>
		<key>Name</key>
		<string>Space</string>
		<key>Count</key>
		<string>10</string>
		<key>Thumb</key>
		<string>BigSpinRight.JPG</string>
	</dict>
	<dict>
		<key>LivePhotos</key>
		<array>
			<string>FishGlass</string>
			<string>OrangeFish</string>
			<string>SchoolFish</string>
			<string>WaterBub</string>
			<string>YellowReef</string>
			<string>YellowSeaHorse</string>
			<string>YellowStrip</string>
			<string>a</string>
		</array>
		<key>Name</key>
		<string>UnderWater</string>
		<key>Count</key>
		<string>8</string>
		<key>Thumb</key>
		<string>FishGlass.JPG</string>
	</dict>
</array>
</plist>
